/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
	font-family: 'Open Sans', sans-serif;
}
body {
  /* display: flex; */
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  flex-direction: row;
  /* flex-wrap: nowrap; */
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*~~~~~~~~~~~~~~~END RESET~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~MAIN LAYOUT~~~~~~~~~~~~~~~~~~~~~*/
.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.side-bar {
	display: flex;
	width: 24%;
	background-color: #1F1E3D;
	flex-direction: column;
}

.top-bar {
  display: flex;
  height: 12%;
  background-color: #1F1F3D;
  flex-direction: row;
  justify-content: space-between;
}

.bottom-bar {
  display: flex;
  height: 12%;
  background-color: #5356A4;
  flex-direction: row;
  align-items: center;
}

.title-input {
  display: flex;
  flex-direction: column;
  height: 19%;
}

.body-input {
  display: flex;
  flex-direction: column;
  height: 30%;
}

.search-input {
  display: flex;
  flex-direction: row;
  height: 11%;
}

main {
  height: 100%;
  width: 76%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.form-box {
  display: flex;
  height: 43%;
  background-color: #A8AAD1;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.card-box {
  display: flex;
  background-color: #EAEAF4;
  flex-direction: row;
  height: 57%;
  flex-wrap: wrap;
  /* justify-content: center; */
}

.idea-section {
  background-color: #EAEAF4;
  height: 76%;
  padding: 6%;
}

input {
  border: solid;
  border-color: #6B6DB0;
  border-width: 1.5px;
  border-radius: 0px 3px 3px 0px;
  height FONT-WEIGHT: 100;
}

label {
  font-weight: bold;
  color: #1F1F3D;
}

h1 {
  color: #E9E9F3;
  margin: 6%;
  font-size: 16px;
}

h2, p {
  font-size: 16px;
}

hr {
  border: 1px solid #353567;
}

button {
  border-width: thin;
  border-style: solid;
  border-color: #353567;
  border-radius: 2px;
  color: #E9E9F3;
  font-weight: bold;
  cursor: pointer;
}

.search-icon {
  background-color: #353564;
  padding: 0.8vh;
}

::placeholder {
  color: #5356A4;
}

.comment {
  color: #E9E9F3;
  font-size: 13px;
}

.save-button {
  background-color: #353564;
  height: 11%;
}

.title {
  height: 100%;
}

.body {
  height: 100%;
}

.hidden {
	display: none!important;
}

.greyed:hover {
  background-color: grey;
  cursor: not-allowed;
}

.filter-sidebar {
  color: #5356A5;
  margin: 6%;
  font-size: 12px;
  color: #BFBFDD;
}

.show-starred-button {
  background-color: #5356A4;
  width: 80%;
  height: 5%;
  margin-bottom: 9%;
  align-self: center;
}

.input-fields {
  display: flex;
  height: 100%;
  width: 52%;
  flex-direction: column;
  justify-content: space-evenly;
}

.search-ideas {
  width: 94%;
  font-size: smaller;
  padding-left: 1%;
}

.card {
  height: 30vh;
  width: 27vh;
  flex-direction: column;
  border: solid;
  border-color: #37376B;
  border-width: 3px;
  margin: 3vh;
  /* display: flex; */
}

.icon {
  height: 3vh;
}
